<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if logged_in? %>

<%= render 'shared/micropost_form' %>

<% else %>

<%= link_to '新規登録はこちら' , signup_path %>

<% end %>